<style>
    <%- include("./inside.css"); %>
    <%- include("./couch.css"); %>
    <%- //include("./dominoes.css"); %>
    <%- include("./cards-against-Bible.css"); %>
</style>

<section>
    <p>
        A modest cabin rests amidts the branches of a
        thick oak. Finally, a chance to rest.
    </p>

    <div class="projector" id="tree"></div>
    
    <div class="chat-box" id="tree-house"></div>
    <div class="invisible chat-box" id="cards-against-Bible"></div>
    
    <div class="couch">
        <div class="couch-part back-rest" id="1"></div>
        <div class="couch-part back-rest" id="2"></div>
        <div class="couch-part base" id="1"></div>
        <div class="couch-part base" id="2"></div>
        <div class="couch-part pillow" id="1"></div>
        <div class="couch-part pillow" id="2"></div>
        <div class="couch-part arm-rest" id="1"></div>
        <div class="couch-part arm-rest" id="2"></div>
    </div>
</section>

<section>
    <label>
        <h5>Submit a Prompt: </h5>
        <input type="text" id="prompt" placeholder="Prompt" />
        <p id="prompt-alert"></p>
        <button onclick="submitPrompt()">Submit</button>
    </label>
    <label>
        <h5>Submit an Answer: </h5>
        <input type="text" id="answer" placeholder="Answer" />
        <p id="answer-alert"></p>
        <button onclick="submitAnswer()">Submit</button>
    </label>
</section>

<div class="table">
    <!-- <div class="opponent-hand"></div>
    <div class="board"></div>
    <div id="score1"></div>
    <div class="bone-yard"></div>
    <div id="score2"></div>
    <div class="your-hand"></div> -->
</div>

<hr>

<a class="return" href="/forest/eye/filter/house">
    Exit the Tree House
</a>

<script src="/js/util/element.js"></script>
<script src="/js/util/buttons.js"></script>
<script src="/js/chat-box.js"></script>
<script src="/js/projector.js"></script>
<script>
    const projector = new Projector("tree", <%= user.memory.data.authLevels.includes("Creator") %> ? "save-tree-projector" : null);

    const chat = new ChatBox("<%= user.memory.data.username %>", "tree-house");
    const hiddenChat = new ChatBox("<%= user.memory.data.username %>", "cards-against-Bible");

    // <%- include("./dominoes.js"); %> 
    <%- include("./cards-against-Bible.js"); %> 

    const submitPrompt = () => {
        let prompt = $("input#prompt").val();
        if (prompt) {
            base.do("submit-prompt", { text: prompt }).then((res) => {
                $("#prompt-alert").text("Prompt submitted.");
            });
        } else {
            $("#prompt-alert").text("Please enter a prompt.");
        }
    };

    const submitAnswer = () => {
        let answer = $("input#answer").val();
        if (answer) {
            base.do("submit-answer", { text: answer }).then((res) => {
                $("#answer-alert").text("Answer submitted.");
            });
        } else {
            $("#answer-alert").text("Please enter an answer.");
        }
    };
</script>